body {
  padding: 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #F5F5F5;
}

a {
  color: #00B7FF;
}
.web-property-picker{
    max-height: 500px;
    overflow: auto;
}

//bootstrap overides
.navbar-default {
    background-color: #30B0ED;
    border:none;
    a{
        color: #FFF;
    }
}

.navbar-default .navbar-brand{
    color: #FFF;
}
.navbar-default .navbar-nav>li>a{
    color: #FFF;
}

.navbar-nav>li>a.dropdown-toggle.double{
    padding: 9px 25px 8px 15px;
    line-height: 16px;
    position: relative;
    span{
        &.first{
            display: block;
            width: 100%;
        }
        &.second{
            font-size:12px;
            opacity: 0.6;
        }
    }
    .caret{
        position: absolute;
        right: 8px;
        top: 23px;
    }
}

ul.web-property-picker{
    li{
        a{ 
            font-weight: 600; 
            font-size: 18px;
        }
        ul li{
            a{
                font-size: 14px;

                display: block;
                padding: 3px 20px 3px 35px;
                clear: both;
                font-weight: 400;
                color: #333;
                cursor: default;
                border-top: 1px solid #CCC;
                &:hover{
                    text-decoration: none;
                }
            }
            ul li{
                a{
                    display: block;
                    padding: 3px 20px 3px 35px;
                    clear: both;
                    font-weight: 400;
                    color: #428bca;
                    font-size:12px;
                    border-top: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.loading-screen{
    width: 300px;
    padding:20px;
    margin: 20px auto;
    background: #FFF;
    text-align: center;
}
.dashboard-container{
    margin-top: 20px;
    .dashboard-controls{
        border-radius: 0px;
        border: none;
        margin: 0px 5px 20px 5px;
        .container-fluid{
            padding: 0;
        }
    }

    .cmpt-container{
        padding:0px 5px 0 5px;
        .cmpt{
            //float:left;
            //min-width: 300px;
            min-height: 210px;
            //margin-right: 20px;
            //margin-bottom: 20px;
            .primary{
                border: 1px solid #DDD;
                width: 100%;
                min-height: 210px;
                background: #FFF;
                margin-top:20px;
                float: left;
                p{
                    text-align:center;
                    &.primary-stat{
                       font-size: 45px;
                       margin-top: 5px;
                       font-weight: 600;
                       color: #666; 
                    }
                    &.primary-stat-label{
                        margin:20px 0 0 0;
                        font-size: 18px;
                        color: #999;
                    }
                    &.changed-stat{
                        font-size: 28px;
                        &.negitive{
                            color: red;
                        }
                        &.positive{
                            color: green;
                        }
                    }
                }
            }
        }
    }
}
