<!DOCTYPE html>
<html lang="en" ng-app="GoogleAnalyticsDashboard">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Google Analytics Dashboard</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body>
    
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" 
        ng-controller="Navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">gadzooks</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{$root.profile.name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu web-property-picker" role="menu">
                        <li ng-repeat="account in $root.accounts">
                            <a href="#">{{account.name}}</a>
                            <ul class="list-unstyled">
                                <li ng-repeat="webProperty in account.webProperties" ng-show="webProperty.profiles">
                                    <a href="#">{{webProperty.name}}</a>
                                    <ul class="list-unstyled">
                                        <li ng-repeat="profile in webProperty.profiles">
                                            <a href="#" ng-click="selectProfile(profile)">{{profile.name}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                    <ul class="dropdown-menu web-property-picker" role="menu">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Top ranked</a></li>
                        <li><a href="#">Month over month</a></li>
                        <li><a href="#">Live</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Last {{$root.timeRange}} days <b class="caret"></b></a>
                    <ul class="dropdown-menu web-property-picker" role="menu">
                        <li><a href="#" ng-click="pickTime(0)">Today</a></li>
                        <li><a href="#" ng-click="pickTime(1)">Yesterday</a></li>
                        <li><a href="#" ng-click="pickTime(7)">Last 7 Days</a></li>
                        <li><a href="#" ng-click="pickTime(14)">Last 14 Days</a></li>
                        <li><a href="#" ng-click="pickTime(30)">Last 30 Days</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" ng-show="$root.user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/auth/logout">Logout</a></li>
                    </ul>
                </li>
                <li ng-hide="$root.user"><a href="/auth/google">Login</a></li>
            </ul>
        </div><!-- container -->
    </div><!-- navbar -->
    <div class="container-fluid" ng-controller="LoadingScreen" ng-show="$root.user && !$root.accounts">
        <div class="row">
            <div class="col-sm-12">
                <div class="loading-screen">
                <p><i class="fa fa-clock-o" ng-class="{ 'fa-check-circle': $root.accounts }"></i> Loading Accounts</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid dashboard-container" ng-controller="Dashboard" ng-show="$root.user && $root.accounts">
        <!--
        <nav class="navbar navbar-default dashboard-controls" role="navigation">
            <div class="container-fluid">

                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li class=""><a href="#">Report Type</a></li>
                    <li class=""><a href="#">Time Scale</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav> 
-->
        <div class="row" ng-controller="Components" ng-show="$root.accounts">
            <div class="col-sm-12">
              <!--
              <% if(user) { %>
              <p><%= user.name %></p>
              <% } %>
              -->
              <div class="cmpt-container">
                    <ul class="list-unstyled">
                        <li class="cmpt" ng-controller="UsersBlock">
                            <div class="primary">
                                <p class="primary-stat" ng-bind="number || 0 |  number"></p>
                                <p class="primary-stat-label">Users</p>
                            </div>
                        </li>
                        <li class="cmpt" ng-controller="SessionBlock">
                            <div class="primary">
                                <p class="primary-stat" ng-bind="number || 0 | number"></p>
                                <p class="primary-stat-label">Visits</p>
                            </div>
                        </li>
                        <li class="cmpt" ng-controller="BounceBlock">
                            <div class="primary">
                                <p class="primary-stat"><span ng-bind="number || 0"></span>%</p>
                                <p class="primary-stat-label">Bounce</p>
                            </div>
                        </li>
                    </ul>
              </div>
            </div>
        </div>
    </div><!-- /.container -->

<div class="modal fade" ng-controller="LoginModal" auto-open>
  <div class="modal-dialog">
    <div class="modal-content">
      <!--
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      -->
      <div class="modal-body text-center">
        <a href="/auth/google" class="btn btn-primary">Sign In with Google</a>
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
    <script>
        var GAD = {};
        GAD.user = <%- JSON.stringify(user || null) %>;
    </script> 
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/momentjs/min/moment.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>
    <script src="/angular-cookies/angular-cookies.min.js"></script>
    <script src="/d3/d3.min.js"></script>
    <script src="/javascripts/core.js"></script>
  </body>
</html>
